.main-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #163d5f;
}

.email-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-alert button {
  background-color: #163d5f;
  color: lightblue;
  border: 3px solid #163d5f;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.email-alert button:hover {
  background-color: lightblue;
  color: #163d5f;
  font-weight: 700;
}

.addSensor {
  max-width: 24vw;
  display: none;
}

.info-display {
  font-weight: 700;
  background-image: url("./images/cloud_background.jpg");
  background-position: bottom;
  background-size: 200%;
  color: #163d5f;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #163d5f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.info-display p {
  background-color: #163d5f;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.info-display h2 {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #163d5f;
}

.info-display input {
  width: 100%;
}

.aq-scale {
  display: flex;
  font-size: 0.7em;
  list-style: none;
  padding-inline-start: 0;
  justify-content: space-evenly;
}


.aq-scale li {
  border: 1px solid #163d5f;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 35px;
}


.good {
  background-color: #00CC00;
  color: white;
}
.moderate {
  background-color: #FFFF00;
  color: navy;
}

.unhealthy-for-some {
  background-color: #EB8A14;
  color: white;
}

.unhealthy-for-all {
  background-color: #FF0000;
  color: white;
}

.very-unhealthy {
  background-color: #A10649;
  color: white;
}

.selected-AQ {
  background-image: url('./images/upArrow.png');
  background-repeat: no-repeat;
  background-position-y: 25px;
  background-position-x: center;
}