.main-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: navy;
}

.info-display {
  font-weight: 700;
  background-image: url('./images/cloud_background.jpg');
  background-position: bottom;
  background-size: 200%;
  color: navy;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
};
