body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebarChart {
  background-color: whitesmoke;
  background-position: right;
  color: #163d5f;
  min-width: 1px;
  max-width: 20vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  opacity: 1.0;
};