.logo {
  font-weight: 700;
}
.sidebar img {
  padding: 30px;
  min-width: 20vw;
}
.sidebar {
  background-image: url('./images/cloud_background.jpg');
  background-position: right;
  border-left: 5px solid #163d5f;
  color: #163d5f;
  min-width: 1px;
  max-width: 24vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  opacity: 1.0;
};
.controlls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controlls-container > button {
  color: #163d5f;
  width: 70px;
  font-weight: 700;
  font-size: 2em;
  border: 5px solid #163d5f;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.controlls-container > button:hover {
  color: lightblue;
  background-color: #163d5f;
  width: 70px;
  font-weight: 700;
  font-size: 2em;
  border: 5px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.controlls-container > span {
  font-weight: 700;
  font-size: 2em;
  margin-left: 10px;
  margin-right: 10px;
}
#loading {
  width: 24vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#sensorForm  {
  width: 22.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sensorForm > input, #sensorForm > button, .sidebar > button {
  border: 5px solid #163d5f;
  color: #163d5f;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#sensorForm > button:hover {
  border: 5px solid white;
  color: lightblue;
  background-color: #163d5f;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sidebar > button:hover {
  border: 5px solid white;
  color: lightblue;
  background-color: #163d5f;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}